.lightTheme {
  .youthVersion {
    background: url("/img/youth_light_bg.png");
  }

  .adultVersion {
    background: url("/img/adult_light_bg.png");
  }
}


.darkTheme {
  .youthVersion {
    background: url("/img/youth_dark_bg.png");
  }

  .adultVersion {
    background: url("/img/adult_dark_bg.png");
  }
}





